.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.small-block {
  font-size: 0.85em;
  border-left: 4px solid #ddd;
  margin: 1em 0;
  padding: 0.5em 1em;
  background-color: #f9f9f9;
  color: #555;
}
.custom-img {
  display: block;
  margin: 0 auto;
  width: 500px;  /* or any value */
}
/* extra.css */
.md-typeset h1,
.md-typeset h2,
.md-typeset h3 {
  font-weight: bolder; /* or use bold, bolder, 800, etc. */
}
